@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-padding-top: 75px;
    scroll-behavior: smooth;
}

:root {
    --fondo-blanco: #ffffff;
    --texto-negro: #000;
    --color-azul-oscuro: #2C3E50;
    --segundo-fondo: #FDF2F0;
    --fondo-principal: #F87C63;
    --gris-plata: #BDC3C7;
    --truquesa: #1ABC9C;
    --amarillo: #F1C40F;
    --cian: #3498DB;
    --gris-dos: #333;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: var(--fondo-principal);
}

.nav {
    background-color: var(--fondo-blanco);
    position: sticky;
    top: 3px;
    width: 99%;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 5px 10px;
    justify-content: center;
    font-weight: bold;
    margin: 3px auto;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.nav-link {
    text-decoration: none;
    color: var(--texto-negro);
    padding: 12px 18px;
}

.menus-nav {
    display: none;
}

section {
    padding: 10px 15px;
}

/*aqui inicia la seccion hero*/
.hero {
    min-height: 90vh;
    display: flex;
    flex-wrap: wrap;
}

.hero-container-uno {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 40px 5px 0px 70px;
}


.dev-stack {
    display: block;
    background-color: var(--fondo-blanco);
    padding: 10px 12px;
    border-radius: 12px;
    width: max-content;
}

.soy-jesus {
    margin: 20px 0;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.soy-jesus h1 {
    font-size: 50px;
}

.soy-jesus p {
    font-size: 18px;
    line-height: 2;
}

.btn-heros {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px 0;
    margin: 25px 0;
}

.btn-heros a {
    text-decoration: none;
    padding: 13px 25px;
    border-radius: 10px;
    font-weight: bold;
    border: 2px solid var(--fondo-blanco);
    color: var(--texto-negro);
    transition: transform 0.2s, opacity 0.2s;
}

.btn-heros a:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.8);
}

.btn-heros a:active {
    transform: scale(0.95);
}

.btn-heros a:nth-child(1) {
    background-color: var(--fondo-blanco);
    color: var(--fondo-principal);
}

.hero-container-dos {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.mi-foto {
    width: 400px;
    height: 400px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.mi-foto img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    max-width: 100%;
}


@media screen and (max-width: 480px) {
    .hero-container-uno {
        margin: 40px 5px 0px 10px;
    }

    .nav {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        border-radius: 0 0 8px 8px;
        position: fixed;
        top: 0;
        right: -100%;
        transition: right 1s ease;
    }

    .nav.active {
        right: 0;
    }

    .menus-nav {
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 1000;
    }

    #menu {
        font-size: 2.5rem;
        color: #333;
        cursor: pointer;
        background-color: #fff;
        padding: 2px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease, color 0.3s ease;
        border-radius: 5px;
    }

    #menu:active {
        color: #007bff;
        transform: scale(0.9);
    }

    .mi-foto {
        width: 200px;
        height: 200px;
    }
}

/*aqui termina la seccio hero*/
/*aqui incia la seccion habilidades*/
.habilidades {
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.habilidades h1 {
    font-size: 40px;
    margin: 10px 0;
}

.description {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 8px;
    margin: 10px 0;
}

.description h2 {
    font-size: 25px;
}

.description p {
    font-size: 18px;
    text-align: justify;
}

.front-end {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 15px 20px;
}

.icon {
    display: flex;
    font-size: 100px;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border-radius: 18px;
    box-shadow: 1px 1px 15px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    color: var(--fondo-blanco);
    background-color: var(--color-azul-oscuro);
}

.icon svg {
    width: 100px;
    fill: var(--fondo-blanco);
}

@media screen and (max-width:480px) {
    .habilidades{
        margin: 20px 10px;
    }
    .front-end{
        gap: 10px;
        padding: 15px 10px;
    }
    .icon {
        width: 100px;
        height: 100px;
        font-size: 65px;
    }

    .icon svg {
        width: 65px;
    }
}

/*aqui termina la section habilidades
/*aqui inicia la seccion proyectos*/
.proyectos {
    display: flex;
    flex-direction: column;
    margin: 50px 0;
    padding: 25px 0;
}

.proyectos h2 {
    display: block;
    font-size: 40px;
    margin: 15px auto;
    text-align: center;
}

.container-proyectos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px 0;
    gap: 15px;
}

.tarjeta-proyectos {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 550px;
    min-width: 200px;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.8);
    border-radius: 12px;
    padding: 30px 25px;
    gap: 15px;
    background-color: var(--color-azul-oscuro);
}

.img-proyecto {
    border-radius: 8px;
}

.titulo-proyectos {
    color: var(--amarillo);
}

.detalle-proyectos {
    text-align: justify;
    color: var(--gris-plata);
}

.enlace-proyecto {
    color: var(--fondo-principal);
    text-decoration: none;
    font-weight: bold;
    width: max-content;
}
.enlace-proyecto:hover{
    color: var(--truquesa);
}
@media screen and (max-width: 480px) {
    .proyectos{
        padding: 25px 15px;
    }
}
/*aqui inicia el footer*/
footer {
    background-color: var(--color-azul-oscuro);
    display: flex;
    padding: 15px 15px;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: var(--gris-dos);
    border-radius: 12px 12px 0 0;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    margin: 5px 0 30px 0;
    gap: 15px;
    padding: 5px 0 15px 0;
}

.footer-section {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex-wrap: wrap;
}

.footer-section h2,
h3 {
    color: var(--fondo-blanco);
}

.footer-section p {
    color: var(--gris-plata);
    letter-spacing: 1.2px;
}

.footer-section:nth-of-type(2) {
    gap: 15px;
}

.enlaces {
    color: var(--gris-plata);
    text-decoration: none;
    letter-spacing: 1.5px;
}

.enlaces:hover {
    color: var(--cian);
}

.social-media-footer {
    display: flex;
    flex-wrap: wrap;
    width: max-content;
    gap: 10px;
    padding: 10px 0;
}

.media-footer {
    text-decoration: none;
    color: var(--texto-negro);
    font-size: 20px;
    background-color: var(--gris-plata);
    padding: 5px 9px;
    border-radius: 50%;
}

.media-footer:hover {
    background-color: var(--fondo-blanco)
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid var(--gris-plata);
    padding: 20px 0;
    color: var(--gris-plata);
}

@media screen and (max-width:480px) {
    .footer-container {
        justify-content: space-between;
        padding: 5px 10px;
        gap: 25px;
    }
}